@model IEnumerable<u17234132_HW3.Models.FileModel>

@{
    ViewBag.Title = "About Nkosinathi";
}

<h2 class="well">Something About Nkosinathi Msiza </h2>

<div class="container">
    <div class="col-sm-6">
        <!--biography paragraph-->
        <h3>Bio</h3>
        <p>
            Hi,I'am Nkosinathi Msiza.Currently a 3rd student at the Univeristy of Pretoria
             pursuing a Degree in Information Systems.I really enjoy playing and watching
            sports,specifically Cricket.A big part of my journey is building computer programs,such as
            websites,computer data campturing systems,systems that help organization process and monitor
            their data.In 2020 I decided to embark on this journey because it has been my passion to be a 
            programmer.
        </p>
    </div>
    <div class="col-sm-6">
        <a href=""> <h3 class="text-info">Nkosinathi Msiza</h3></a>
      
        <img src="~/Content/ME.jpg" alt="me" width="545" height="545" class="img-rounded" style="border-radius:20px"  />
    </div>

</div>
