@model IEnumerable<u17234132_HW3.Models.FileModel>

@{
    ViewBag.Title = "Index";
   
}

<h2 class="well">Images</h2>
<div class="container">
    
    @foreach (var item in Model)
    {
        
        @*<div class="">*@
        <div class="col-md-4">

            <img src="@item.FileName" style="border:1px;border-radius:2px" /><br /><br />
            @*<img src="~/App_Data/Media/Images/@item.FileName" class="img-circle" />*@
            <button class="btn btn-primary" style="background-color:lightblue">
                @Html.ActionLink("Download", "DownloadFile",
          new { fileName = item.FileName },
          new { onclick = "return confirm('File donwloaded!');" })
            </button>
            <button class="btn btn-danger">
                @Html.ActionLink("DELETE", "DeleteFile",
        new { fileName = item.FileName },
        new { onclick = "return confirm('Are you sure you wish to delete this?');" })
            </button>
        </div>
        @*</div>*@


    }
</div>



